{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>WillsNetwork</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
  </head>
  <body>
      <img src="{% static 'img/robots.gif' %}" />
      <!-- renders a csrf-token, needed for API -->
      {% csrf_token %}

      <pre>
        {% url 'rest_api:contact-list' version='1.0' %}

      method POST
      fields: email, message
      + csrf_token
      </pre>

  </body>
</html>
